@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background: #D2E3FC;*/
    /*color: black;*/
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #FFC145;

}

.hometab {
    height: 100vh;
    background: #000137;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000137;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #FFC145;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .bttn-box {
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.bttn-box a {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    /*background: #B7FDFE;---adds color just 1*/
    border: 2px solid #B7FDFE;
    border-radius: 8px;
    font-size: 19px;
    /*color: black;*/
    color: #B7FDFE;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bttn-box a:hover {
    color: #081B29;
}

.bttn-box a:nth-child(2) {
    background: transparent;
    /*color: #B7FDFE; ---- changes the bttn letters*/
}

.bttn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /*chnages background of bttns*/background: #E2EFDE;
    z-index: -1;
    transition: .2s;
}

.bttn-box a:hover::before {
    width: 100%;
}

.media-logo {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.media-logo a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #B7FDFE;
    border-radius: 50%;
    font-size: 20px;
    color: #B7FDFE;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
}

.media-logo a:hover {
    color: #081B29;
}

.media-logo a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E2EFDE;
    z-index: -1;
    transition: 0.2s;
}

.media-logo a:hover:before {
    width: 100%;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}